@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.aHeader {
  color: white;
  padding: 50px;
  background-color: cornflowerblue;
}

.arealogo{
  color: white;
  float: left;
}

.areaMenu{
  padding-left: 41%;
}

.areaCart{
  float: right;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  float: left;
}

#menu a{
  color:white;
  text-decoration: none;
  display: block;
  padding-left: 20%;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: "Oswald";
  font-size: 1.8em;
}

#menu a:hover{
  color: chocolate;
}

#menu a:active{
  color: chocolate;
}

.bienvenida{
  text-align: center;
}

.bienvenida img{
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius:11%;
  width: 50%;
  border: 1em solid rgba(24, 52, 146, 0.1);
}

.bienvenida h1{
  color:chocolate;
  font-size: 4em;
}
.carritoIcono {
  border-radius: 100%;
  font-size: 1em;
  background-color: lightgray;
  width: 42px;
  padding:10%;
}

.carritoIcono:hover {
  border-radius: 100%;
  font-size: 1em;
  background-color: chocolate;
  width: 42px;
  padding:10%;
}

.bienvenida p{
  color:cornflowerblue;
  font-family: cursive;
  font-size: 1.5em;
}
.tablaElement{
  margin-bottom: 100em;
  padding-top: 5em;
  padding-bottom: 10em;
  height: 7em;
}
.listadoProductos{
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

table{
  border-spacing: 50;
  text-align: center;
  margin: auto;
  width: 40%;
  font-family: "Oswald";
  font-size: 1.8em;
}

tr{
  margin-top: 30em;
}


.platocomida{
  width:180px;
  height:120px;
}

.simbolo{
  color:cornflowerblue;
  margin-left: 500%;
  margin-right: 500%;
  width: 20%;
}

.cantidad{
  width: 5%;
}


.btnLink {
  width: 200%;
  height: 300%;
  margin:auto;
  font-size: 0.5em;
  color:cornflowerblue;
  overflow:hidden;
}

.btnLink:hover{
  background-color:chocolate;
  color: white;
}

.btn{
  color:cornflowerblue;
  background-color: white;
  border-color: cornflowerblue;
}

.btn:hover {
  background-color: chocolate;
  border-color: cornflowerblue;
  color: white;
}

.carroVacio{
  height: 50%;
  padding-top: 500;
  color:chocolate;
  font-size: 4em;
}


.imgCarrito{
  width:80px;
  height:50px;
}

.resultCarrito{
  margin: auto;
  margin-top: 5%;
  border-spacing: 50;
}

.CarritoElement{
  margin-bottom: 100em;
  padding-top: 5em;
  padding-bottom: 10em;
  height: 4em;
}

.adder{
  margin-top: 5em;
  padding: 500px;
  height: 10em;
}

.detalles{
  margin-top: 5em;
  margin-left: 0px;
}